$bgColor = #00bcd4;
$fontColor = #212121;
$priceColor = #ff8300;
$lightFontColor = #9e9e9e
$itemTitleBgColor = #eaeaea
itemTitleBgColor()
  background-color: $itemTitleBgColor
$selectCity = #3cb0d0
border-style()
  border-top: .01rem solid #c2c2c2
  border-bottom: .01rem solid #c2c2c2
